:root {
  --main-bg-color: #fffbe6;
  --accent-color: #fdd835;
  --text-color: #333;
  --header-height: 120px;
  --header-paddingT: 160px;
  --header-paddingB: 80px;
  --font-stack: "Poppins", sans-serif;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #f1eab7;
  overflow-y: scroll;
}

.content {
  width: 600px;
  margin: calc(var(--header-paddingT) + var(--header-paddingB) 
    + var(--header-height)) auto;
  background-color: #FF9500;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
  padding-top: 20px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

/* header */
.header{
      /*background-color: #ffffff;
      width: 100%;
      display: flex;
      border: none;
      justify-content: center; /* centers horizontally */
      /*padding-top: var(--header-paddingT);   /* space inside the header box */
      /*padding-bottom: var(--header-paddingB);
      height: var(--header-height);
      margin: 0;
      box-sizing: border-box;       /* include padding in height */
      /*margin: 0 calc(50% - 50vw);*/

      padding: 60px;
      text-align: center;
      background: #1abc9c;
      color: white;
      font-size: 30px;
      }

/* Add extra space between header and page content */
main {
  padding-top: var(--header-height); /* pushes content below header */
}

/* Tab Styles */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
